<section id="createTweetModal" class="fixed w-screen h-screen z-10 hidden">
    <div class="absolute h-full w-full bg-black bg-opacity-50" onclick="toggleCreateTweetModal()">
    </div>
    
  <!--  TWEET BOX -->
    <div class="relative z-10 bg-white rounded-lg w-2/4 h-80 mx-auto mt-20">
      <form name="myForm" class="creatTweet updateTweet" onsubmit="validate(createTweet); return false" autocomplete="off" enctype="multipart/form-data">
        <div>
          <img 
            class="absolute ml-12 mt-12 flex-none w-14 h-14 object-cover rounded-full userProfile" 
            src="/static/images/user_profile_pictures/{{user_profile_picture}}" 
            onError="this.onerror=null;this.src='/images/user_profile_pictures/default_profile_picture.png';"
          >
          <textarea 
            oninput="updateCharactersMain()" 
            name="tweet_text" 
            class="createTweet create-tweet-input ml-28 mt-12 text-2xl placeholder:text-gray-700 pl-4 pt-3 outline-none border-none " 
            cols="48" 
            rows="5" 
            placeholder="What's happening?" 
            data-validate="str" 
            data-min="1" 
            data-max="100" 
            maxlength="100"></textarea>
        </div>
        <span class="ml-28">
          <label for="txt-tweet" class="font-thin text-sm text-gray-400  pl-4"><span class="remaining-chars-main">0</span> / 100 characters</label>
        </span>
        <hr>
        <div class="ml-28 mt-4 border-none">
            <div class="image-upload">
                  <label for="formFile">
                    <i class="fas fa-image fa-2x image-icon cursor-pointer"></i>
                  </label>
                  <span id="display-filename" class="display-filename"></span>
                  <input onchange="getFileName()" class="editTweet" name="tweet_image" type="file" id="formFile">
            </div>
        </div>
        <button type="submit" class="absolute bottom-2 right-2 px-8 py-2 bg-blue2 text-white font-semibold rounded-full"
                data-default="Tweet"
                data-await="Tweeting..."
              >
                Tweet
        </button>
      </form>
    </div>
  </section>