% if not is_fetch:
% include("header")
% end


<div class="overlay">
    <a href="/" class="overlay" onclick="spa(this); return false"></a>
    <main 
        class="modal"
        data-spa_modal
        data-spa_url="/signup"
        data-spa_title={{title}}
    >
        <section id="sign-error-msg">
            <form action="/signup" method="POST" enctype="multipart/form-data">
                <div class="relative flex min-h-screen flex-col justify-center overflow-hidden">
                    
                    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
                       
                        <div class="mx-auto max-w-md">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/800px-Twitter-logo.svg.png" class="h-8 mx-auto" alt="" />
                        
                            <h2 class="p-4 text-4xl mx-4 font-bold">Login</h2>
                            <section class="text-red-500">
                                % include('Error-Templates/error_login')
                            </section>
                            <div class="mb-4">
                                <label class="block text-sm font-bold mb-2" for="login_email">
                                    Email Address
                                </label>
                                <input name="user_email"
                                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker"
                                    id="login_email" type="text" placeholder="Email Address">
                            </div>
                            <div class="mb-6">
                                <label class="block text-sm font-bold mb-2" for="password">
                                    Password
                                </label>
                                <input name="user_password"
                                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker mb-3"
                                    id="password" type="password" placeholder="Password">
                            </div>
                
                
                            <button
                                class="w-full rounded-2xl border-b-4 bg-gray-300 py-3 font-bold hover:bg-blue1 hover:text-white mt-12">
                                Login
                            </button>
            
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </main>
</div>

<div id="overlay-login" class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center">

    <div class="bg-gray-200 w-2/6 h-3/5 p-5 rounded-2xl shadow-xl">
        <div class="flex justify-between items-center py-4">
            <h4 class="text-2xl font-bold">Login</h4>
            <svg id="close-btn-login" class="h-6 w-6 cursor-pointer p-1 hover:bg-blue-300 rounded-full"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>

        <form class="pt-6 pb-2 my-2" action="/login" method="POST">

            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="login_email">
                    Email Address
                </label>
                <input name="user_email"
                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker"
                    id="login_email" type="text" placeholder="Email Address">
            </div>
            <div class="mb-6">
                <label class="block text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input name="user_password"
                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker mb-3"
                    id="password" type="password" placeholder="Password">
            </div>


            <button
                class="w-full rounded-2xl border-b-4 bg-gray-300 py-3 font-bold hover:bg-blue-300 hover:text-white mt-12">
                Login
            </button>
            <!-- <div  id="notUser" class="text-sm mt-5 text-center font-medium text-gray-500 dark:text-gray-300">
            Not registered? <a href="#" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
        </div> -->
        </form>
    </div>
</div>
</main>


% if not is_fetch:
% include("footer")
% end