% if not is_fetch:
% include("header")
% end


<div class="overlay">
    <a href="/" class="overlay" onclick="spa(this); return false"></a>
    <main 
        class="modal"
        data-spa_modal
        data-spa_url="/login"
        data-spa_title={{title}}
    >
        <section id="sign-error-msg">
            <form action="/login" method="POST" enctype="multipart/form-data">
                <div class="relative flex min-h-screen flex-col justify-center overflow-hidden">
                    
                    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
                       
                        <div class="mx-auto max-w-md">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/800px-Twitter-logo.svg.png" class="h-8 mx-auto" alt="" />
                        
                            <h2 class="p-4 text-4xl mx-4 font-bold">Login</h2>
                            <section class="text-red-500">
                                % include('Error-Templates/error_login')
                            </section>
                            <div class="mb-4">
                                <label class="block text-sm font-bold mb-2" for="login_email">
                                    Email Address
                                </label>
                                <input name="user_email"
                                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker"
                                    id="login_email" type="text" placeholder="Email Address">
                            </div>
                            <div class="mb-6">
                                <label class="block text-sm font-bold mb-2" for="password">
                                    Password
                                </label>
                                <input name="user_password"
                                    class="shadow appearance-none border rounded-2xl w-full py-2 px-3 text-grey-darker mb-3"
                                    id="password" type="password" placeholder="Password">
                            </div>
                
                
                            <button
                                class="w-full rounded-2xl border-b-4 bg-gray-300 py-3 font-bold hover:bg-blue1 hover:text-white mt-12">
                                Login
                            </button>
            
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </main>
</div>
</main>


% if not is_fetch:
% include("footer")
% end